html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format("woff2"),
    url('../fonts/Montserrat-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format("woff2"),
    url('../fonts/Montserrat-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format("woff2"),
    url('../fonts/Montserrat-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format("woff2"),
    url('../fonts/Montserrat-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format("woff2"),
    url('../fonts/Montserrat-ExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ---------------------GLOBAL------------------------ */
:root {
  --padding-container: 0 75px;
  --padding-header: 14px 0px;
  --margin-in-nav: 85px;
  --section-offset: 25px;
  --hero-padding: 100px 77px;
  --about-items-margin: 32px;
  /* colors */
  --color-1: #FF9900;
  --color-2: #FFB84D;
  --color-3: #E1670E;
  --color-4: #97EE3F;
  --color-5: #FFFFFF;
  --color-6: #CACACA;
  --color-7: rgba(0, 0, 0, 0.5);
  --color-8: #666666;
  --color-9: #414141;
  --color-10: #000000;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', arial;
  font-weight: 400;
  letter-spacing: -0.1px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  font-size: 0;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-5);
  background-color: var(--color-1);
  border-radius: 16px;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: var(--padding-container);
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-10);
}

.descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-10);
}

.h3-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-10);
}

/* ---------------------HEADER------------------------ */
.header {
  padding-bottom: var(--section-offset);
}

.header__container {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  background: var(--bg-header);
}

.header__content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav-list {
  display: flex;
  margin-right: 255px;
}

.header__nav-item:not(:last-child) {
  margin-right: var(--margin-in-nav);
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-10);
  transition: color 0.3s ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--color-1);
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:active {
  color: var(--color-3);
  outline: none;
}

.header__search-btn {
  background-color: var(--color-5);
  border-radius: 0;
}

.header__search-btn svg {
  fill: transparent;
  stroke: #333333;
  transition: stroke 0.3s ease-in-out;
}

.header__search-btn:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-1);
}

.header__search-btn:hover svg {
  stroke: var(--color-1);
}

.header__search-btn:active svg {
  stroke: var(--color-1);
}

.header__search-btn:active {
  outline: none;
}

/* ---------------------HERO------------------------ */
.hero {
  padding-top: var(--section-offset);
  padding-bottom: var(--section-offset);
}

.hero__content {
  padding: var(--hero-padding);
  border-radius: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  max-width: 820px;
  margin-bottom: 90px;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-5);
}

.hero__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-5);
}

.hero__btn {
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28px;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--color-2);
}

.hero__btn:hover {
  background-color: var(--color-2);
}

.hero__btn:active {
  background-color: var(--color-3);
}

/* ---------------------ABOUT------------------------ */
.about {
  padding-top: var(--section-offset);
  padding-bottom: calc(var(--section-offset) * 2);
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__title {
  margin-bottom: 20px;
}

.about__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 622px;
}

.about__item-picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 16px);
  border-radius: 32px;
  background-image: url('../img/about-picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__picture-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 196px;
  width: 100%;
  padding: 50px;
  background: var(--color-7);
  border-radius: 32px;
  font-size: 0px;
}

.about__picture-descr {
  max-width: 59%;
  font-weight: 700;
  color: var(--color-5);
}

.about__picture-btn {
  padding: 17px 35px;
  background-color: transparent;
  border: 3px solid var(--color-1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__picture-btn:focus {
  background-color: var(--color-1);
}

.about__picture-btn:hover {
  background-color: var(--color-1);
}

.about__picture-btn:active {
  background-color: var(--color-3);
  border-color: var(--color-3);
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 16px);
}

.about__item {
  height: calc(50% - 16px);
  padding: 7.5% 5.7% 7.5% 34.2%;
  background: var(--color-5);
  border: 1px solid var(--color-6);
  border-radius: 32px;
  background-position: left 8.5% center;
  background-repeat: no-repeat;
  background-size: 22%;
}

.about__item-title {
  max-width: 452px;
  margin-bottom: 8px;
}

.about__item-descr {
  max-width: 450px;
}

.about-1st {
  background-image: url(../img/about-1st.svg);
}

.about-2nd {
  background-image: url(../img/about-2nd.svg);
}

/* ---------------------HOW------------------------ */
.how {
  padding-top: calc(var(--section-offset) * 2);
  padding-bottom: calc(var(--section-offset) * 2);
}

.how__title {
  margin-bottom: 50px;
}

.how__list {
  display: flex;
  margin-bottom: 46px;
}

.how__item {
  font-size: 18px;
  line-height: 22px;
}

.how__item:not(:last-child) {
  margin-right: 85px;
}

.how__link {
  transition: color 0.3s ease-in-out;
}

.how__link:focus {
  outline: 2px solid var(--color-1);
}

.how__link:hover {
  color: var(--color-1);
}

.how__link:active {
  color: var(--color-3);
  outline: none;
}

.how__link--active {
  color: var(--color-3);
}

.how__content {
  display: flex;
  justify-content: space-between;
}

.how__content-left {
  margin-right: 50px;
}

.how__content-title {
  margin-bottom: 8px;
}

.how__content-descr {
  max-width: 720px;
}

.how__content-descr:last-of-type {
  margin-bottom: 18px;
}

.how__btn-more {
  padding: 20px 38px;
  margin-right: 23px;
  transition: background-color 0.3s ease-in-out;
}

.how__btn-more:focus {
  background-color: var(--color-2);
}

.how__btn-more:hover {
  background-color: var(--color-2);
}

.how__btn-more:active {
  background-color: var(--color-3);
}

.how__btn-offer {
  padding: 19px 38px;
  border: 1px solid var(--color-10);
  font-weight: 400;
  background-color: transparent;
  color: var(--color-10);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.how__btn-offer:focus {
  background-color: var(--color-8);
  border-color: var(--color-8);
  color: var(--color-5);
}

.how__btn-offer:hover {
  background-color: var(--color-8);
  border-color: var(--color-8);
  color: var(--color-5);
}

.how__btn-offer:active {
  background-color: var(--color-10);
  border-color: var(--color-10);
  color: var(--color-5);
}

.how__image {
  width: 862px;
  height: auto;
  border-radius: 32px;
  background-image: url('../img/how-pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ---------------------FAQ------------------------ */
.faq {
  padding-top: calc(var(--section-offset) * 2);
  padding-bottom: calc(var(--section-offset) * 1.9);
}

.faq__container {
  padding-top: 11px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__list {
  font-size: 0;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid var(--color-6);
  border-bottom: 1px solid var(--color-6);
  border-collapse: collapse;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.faq__item:hover,
.faq__item:focus {
  border-color: var(--color_orange);
}

.faq__link {
  max-width: 80%;
}

/* ---------------------FOOTER------------------------ */

.footer {
  padding-top: calc(var(--section-offset) * 1.9);
}

.footer__container {
  background-color: var(--color-10);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-6);
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid var(--color-1);
}

.footer__link:hover {
  color: var(--color-1);
}

.footer__link:active {
  color: var(--color-3);
  outline: none;
}

.footer__social-list {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-link {
  width: 60px;
  height: 60px;
}

.footer__social-link svg {
  fill: var(--color-8);
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-1);
}

.footer__social-link:hover svg {
  fill: var(--color-1);
}

.footer__social-link:active svg {
  fill: var(--color-3);
}

.footer__social-link:active {
  outline: none;
}

.footer__request {
  padding-left: 110px;
}

.footer__request-title {
  color: var(--color-6);
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  margin-bottom: 25px;
}

.footer__text-area {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.footer__input,
.footer__text-area {
  padding: 14px 24px;
  border: none;
  background: var(--color-9);
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-6);
}

.footer__input,
.footer__text-area {
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__input:focus,
.footer__text-area:focus {
  background-color: var(--color-8);
  outline: none;
}

.footer__input:hover,
.footer__text-area:hover {
  background-color: var(--color-8);
}

.footer__input:active,
.footer__text-area:active {
  background-color: var(--color-8);
  color: var(--color-5);
}

.footer__form-wrap-buttons {
  display: flex;
  align-items: center;
}

.footer__form-btn {
  padding: 19px 51px;
  margin-right: 18px;
  transition: background-color 0.3s ease-in-out;
}

.footer__form-btn:focus {
  background-color: var(--color-2);
}

.footer__form-btn:hover {
  background-color: var(--color-2);
}

.footer__form-btn:active {
  background-color: var(--color-3);
}

.footer__form-checkbox {
  color: var(--color-6);
  text-align: center;
}

.footer__descr {
  max-width: 357px;
  padding-right: 7px;
  color: var(--color-6);
}

/* -----------------LOW-RESOLUTION----------------- */
.burger {
  display: none;
}

.about__item-picture-text {
  display: none;
}
